j2s-metadata/src/main/resources/wsdl/party.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FEQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xmlId" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BEQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xmlId" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XParty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xmlId" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="xmlGivenName" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="xmlSurname" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PartyMessage">
    <wsdl:part name="parameters" element="tns:XParty"/>
  </wsdl:message>
  <wsdl:message name="FEQueryMessage">
    <wsdl:part name="parameters" element="tns:FEQuery"/>
  </wsdl:message>
  <wsdl:message name="BEQueryMessage">
    <wsdl:part name="parameters" element="tns:BEQuery"/>
  </wsdl:message>
  <wsdl:portType name="PartyWS">
    <wsdl:operation name="feProcess">
      <wsdl:input message="tns:FEQueryMessage"/>
      <wsdl:output message="tns:PartyMessage"/>
    </wsdl:operation>
    <wsdl:operation name="beProcess">
      <wsdl:input message="tns:BEQueryMessage"/>
      <wsdl:output message="tns:PartyMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PartyServiceSoapBinding" type="tns:PartyWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="feProcess">
      <soap:operation soapAction="http://tempuri.org/fe-process" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="beProcess">
      <soap:operation soapAction="http://tempuri.org/be-process" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PartyService">
    <wsdl:port name="PartyWSPort" binding="tns:PartyServiceSoapBinding">
      <soap:address location="http://localhost/party"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
